In [7]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [10]:
li=[1,3,4.,7]
print(li)
print(li[3])
print(li[2:])
print(li[::-1])

[1, 3, 4.0, 7]
7
[4.0, 7]
[7, 4.0, 3, 1]

In [3]:
l1=[13,5,7]
print(l1)

[13, 5, 7]

In [4]:
l1.append(5)
l1

[13, 5, 7, 5]

In [8]:
l1.append('asd')
l1

[13, 5, 7, 5, 'asd']

In [11]:
l2=l1.copy()

In [12]:
l2

[13, 5, 7, 5, 'asd']

In [1]:
l1.count(4)

NameError: name 'l1' is not defined

In [15]:
l1.append(4)
l1.append(4)

In [4]:
l1=[2,3,4,5,]
print(l1)

[2, 3, 4, 5]

In [5]:
l2=l1.copy()

In [6]:
l2

[2, 3, 4, 5]

In [7]:
l1.append(4)
l1.append(4)

In [8]:
l1

[2, 3, 4, 5, 4, 4]

In [3]:
h1=['a','b','c']
h2=['1',2,3]
h2.extend(h2)
h2

['1', 2, 3, '1', 2, 3]

In [6]:
h2.extend(h1)

In [7]:
h2

['1', 2, 3, '1', 2, 3, 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [10]:
h2.index("a")

6

In [11]:
h2.insert(7,'7')

In [12]:
h2

['1', 2, 3, '1', 2, 3, 'a', '7', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [32]:
h2.pop()

'a'

In [33]:
h2

['1', 2, 3, '1', 2, '7', 'b', 'c', 'a', 'b', 'c']

In [34]:
h2.remove('a')

In [35]:
h2

['1', 2, 3, '1', 2, '7', 'b', 'c', 'b', 'c']

In [36]:
h2.remove(3)

In [37]:
h2

['1', 2, '1', 2, '7', 'b', 'c', 'b', 'c']

In [39]:
h2.reverse()

In [40]:
h2

['c', 'b', 'c', 'b', '7', 2, '1', 2, '1']

In [42]:
print(h2[::-1])

['1', 2, '1', 2, '7', 'b', 'c', 'b', 'c']

In [43]:
h3=[8,79,78,6,5,78,78,4,3,2,45,1]
h3

[8, 79, 78, 6, 5, 78, 78, 4, 3, 2, 45, 1]

In [44]:
h3.sort()

In [45]:
h3

[1, 2, 3, 4, 5, 6, 8, 45, 78, 78, 78, 79]

In [49]:
h3.sort()
h3

[1, 2, 3, 4, 5, 6, 8, 45, 78, 78, 78, 79]

In [51]:
h3.reverse()

In [52]:
h3

[79, 78, 78, 78, 45, 8, 6, 5, 4, 3, 2, 1]

In [53]:
h3.clear()

In [54]:
h3

[]

In [55]:
type(h3)

list

In [58]:
h4=[]
type(h4)

list

In [59]:
elect1=['cell','laptop','speakers','vegetable']
print(elect1)

['cell', 'laptop', 'speakers', 'vegetable']

In [70]:
elect2=['cell','laptop','vegetable','alexa']
print(elect2)

['cell', 'laptop', 'vegetable', 'alexa']

In [61]:
print(elect1[3])

vegetable

In [62]:
elect1.pop()

'vegetable'

In [71]:
elect2.remove('vegetable')
elect2

['cell', 'laptop', 'alexa']

In [79]:
def divisibleby6not100(lb,ub):
    for i in range (lb,ub+1):
        if(i%6==0)and(100%i!=0):
            print(i,end=' ')

In [82]:
lb=int(input())
ub=int(input())
divisibleby6not100(lb,ub)

1
100
6 12 18 24 30 36 42 48 54 60 66 72 78 84 90 96

#### 2.function to find average to cubes of all even numbers in given range(lb,ub)inclusively

In [91]:
def even_cube(lb,ub):
    s=0
    c=0
    for i in range(lb,ub+1):
        if i%2==0:
            print(i**3,end=" ")
            s=s+(i**3)
            c=c+1
            
    print("\n" "avg",s/c)
lb=int(input())
ub=int(input())
even_cube(lb,ub)

1
100
8 64 216 512 1000 1728 2744 4096 5832 8000 10648 13824 17576 21952 27000 32768 39304 46656 54872 64000 74088 85184 97336 110592 125000 140608 157464 175616 195112 216000 238328 262144 287496 314432 343000 373248 405224 438976 474552 512000 551368 592704 636056 681472 729000 778688 830584 884736 941192 1000000
avg 260100.0

#### 3.function to generate the list of factors for a given number

In [113]:
def generatenooffactors(l):
    for n in range(1,l+1):
        if l%n==0:
            print(n)
l=int(input())
generatenooffactors(l)

12
1
2
3
4
6
12

### 4.function to calculate the factorial of given number

In [3]:
def factorial(f):
    k=1
    for n in range(1,f+1):
        k=k*n
    print(k)
f=int(input())
factorial(f)

8
40320

In [2]:
def primen

5

In [17]:
tuples()[]{}

SyntaxError: invalid syntax (<ipython-input-17-f747c949cff9>, line 1)

In [18]:
t=(1,2,3,"abc",6,7,'manoj')

In [14]:
dir tuples

SyntaxError: invalid syntax (<ipython-input-14-9ff2ed544e78>, line 1)

In [11]:
l=(89790,89,897)
for i in range(0,len(l)):
    print(l[i])

89790
89
897

In [19]:
t

(1, 2, 3, 'abc', 6, 7, 'manoj')

In [21]:
for i in t:
    print(i,end=" ")

1 2 3 abc 6 7 manoj

In [22]:
s="manoj is bad boy"
for i in s:
    print(i,end='  ')

m  a  n  o  j     i  s     b  a  d     b  o  y

In [25]:
l

(89790, 89, 897)

In [27]:
print(sum(l))
print(min(l))
print(max(l))

90776
89
89790

In [30]:
print(sum(l[1::2]))

89

## Dictionaries

key1 value1
key2 value2
key3 value3

In [3]:
d = {'k1':1,'k2':2}

In [4]:
d

{'k1': 1, 'k2': 2}

In [5]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [6]:
d2=d.copy()

In [7]:
d2

{'k1': 1, 'k2': 2}

In [10]:
d3={'x','y'}
z=0,3
d3=dict.fromkeys(d3,z)
print(d3)

{'y': (0, 3), 'x': (0, 3)}

In [12]:
j=(d3.get('x'))
print(j)

(0, 3)

In [15]:
l=d3.items()
print(l)

dict_items([('y', (0, 3)), ('x', (0, 3))])

In [16]:
for i in l:
    print(i)

('y', (0, 3))
('x', (0, 3))

In [17]:
d3

{'y': (0, 3), 'x': (0, 3)}

In [19]:
d3.keys()

dict_keys(['y', 'x'])

In [20]:
d3.pop('x')
d3

{'y': (0, 3)}

In [24]:
d4={'h':'manoj','f':'bro'}
d5={'f':'manoj'}
print("original dict")
print(d4)

original dict
{'h': 'manoj', 'f': 'bro'}

In [25]:
print('dict after update')
print(d5)

dict after update
{'f': 'manoj'}

In [42]:
d5.update({'k':'sai'})
d5

{'k': 'sai'}

In [43]:
d5

{'k': 'sai'}

In [44]:
print(d5.get(67))

None

In [46]:
d5.popitem()

('k', 'sai')

In [49]:
d5.update({'c':56})

In [50]:
d5

{'c': 56}

In [14]:
d6={'u':45,'f':67,'j':78,'g':92,'y':69}

In [15]:
d6

{'u': 45, 'f': 67, 'j': 78, 'g': 92, 'y': 69}

In [17]:
l=d6.values()
m=max(l)
for i,j in d6.items():
    if j==m:
        print(i)

g

## package and madules

In [18]:
import math
print(math.sqrt(163))

12.767145334803704

In [20]:
import math
print(math.sqrt(49))

7.0

In [21]:
from math import sqrt
print(sqrt(36))

6.0

In [22]:
from math import sqrt as manoj

In [24]:

print(manoj(81))

9.0

In [26]:
print(math.pi)

3.141592653589793

In [27]:
import random
print(random.randint(2,200))

156

In [33]:
import random
for i in range (1,11):
    print(random.randint(1,100))

49
22
65
31
43
81
58
62
60
59

In [34]:
from random import randint as m
print(m(1,11))

5